.charts-per-pollution-wrapper {
    margin-top: 5vh;
    padding: 5vh 5vw;
    background-color: white;
}

.charts-per-pollution-wrapper h2 {
    text-align: center;
    color: var(--navy-blue);
}

.plot-panel span {
    display: block;
    text-align: right;
    margin-right: 8vw;
}

.pollution-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 8vw;
}

.pollution-select h3 {
    font-weight: 500;
}

.plot {
    display: flex; /* Enables flexbox layout */
    width: 100%; /* Full width of its parent */
}

.plot PollutionSensorsPlot {
    flex-grow: 1; /* Allows the plot to grow and take available space */
}

.plot PollutionSensorsPlotLegend {
    /* This element will take up only the space it needs, aligned to the right */
    flex-grow: 0; /* Prevents the legend from growing */
}
