.footer-wrapper {
    display: flex;
    padding: 100px 0 0;
    justify-content: center;
    align-items: center;
}


.footer-wrapper .project-icon {
    width: 230px;
    height: auto;
    margin-right: 75px;
}

.footer-wrapper .nav-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.nav-items a {
    height: 32px;
    margin: 5px 75px 0 0;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: var(--h4-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column;
        padding-top: 60px;
        margin: 0 auto;
    }

    .footer-wrapper .project-icon {
        margin: 0;
    }

    .footer-wrapper .nav-items {
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .footer-wrapper .nav-items a {
        margin: 0 auto;
    }
}
