.mobile-map-view-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.map-control-panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;

}

.control-tabs {
    display: flex;
    flex-direction: row;
    background-color: var(--pale-blue);
    text-align: center;
}

#sensors {
    width: 40%;
}

#pollutions {
    width: 60%;
}

.control-tabs .tab {
    padding: 20px 0;
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size);
    font-style: var(--h4-font-style);
    font-weight: var(--h4-font-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
}

.mobile-checkbox-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 20px 30px;
}

.display-heatmap {
    margin: 10px auto;
}

.picked {
    background-color: white;
}

@media (max-width: 768px) {
    .data-date {
        margin: 0 auto;
    }

    .map-footer a {
        color: #1F5066;
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        text-decoration-line: underline;
    }
}
