.checkbox-wrapper {
    display: flex;
    margin: 1vh;
    align-items: center;

}

.checkbox-round {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 30px;
    height: 28px;
    border-radius: 50%;

    cursor: pointer;
}

p.label-text {
    margin-left: 10px;
}
