.checkbox-wrapper {
    display: flex;
    margin: 1vh;
}

.meteo {
    border: 2px solid #1F5066;
}

.meteo:checked {
    background-color: #1F5066;
}

.standard {
    border: 2px solid #378DB4;
}

.standard:checked {
    background-color: #378DB4;
}

.reference {
    border: 2px solid #71D3FF;
}

.reference:checked {
    background-color: #71D3FF;
}
