.select-box {
    position: relative;
    display: inline-block;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 1vw;

    border: 2px solid var(--navy-blue);
    border-radius: 30px;
    background-color: var(--pale-blue);
    color: var(--navy-blue);

    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.select-box::after {
    content: '';
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1vw;
    background-image: url("../../shared/assets/selectArrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}
