.footer-wrapper {
    display: flex;
    justify-content: center;

    padding: 5vh 0 9vh;
    background-color: var(--pale-blue);
}

.footer-wrapper img {
    margin-right: 7vw;
}

.footer-wrapper .urls {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 7vw;
    row-gap: 1vh;

    text-align: center;
}
