.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.checkbox-round {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 21px;
    height: 20px;
    border-radius: 50%;

    cursor: pointer;
}

p.label-text {
    margin: 0 0 0 10px;
}

@media (orientation: portrait), (max-width: 855px) {
    p.label-text {
        font-weight: 500;
    }
}
