.sensors-description-wrapper {
    padding: 0 18vw 5vh;

    background-color: var(--pale-blue);
}

.sensors-description-wrapper h2 {
    margin: 0;
    padding: 10vh 0;

    text-align: center;

    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    letter-spacing: var(--h2-letter-spacing);
    color: var(--navy-blue);
}

.sensors-cards-wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
