.pollutant-button {
    width: 7vw;
    height: 5vh;
    border: 2px solid var(--navy-blue);
    border-radius: 25px;

    font-family: var(--text-font-family);
    font-weight: var(--h4-font-weight);
    font-size: 20px;

    cursor: pointer;
}

@media (orientation: portrait), (max-width: 855px) {
    .pollutant-button {
        width: 27vw;
    }
}
