.button-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-row button {
    min-height: 38px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 5px 5px 5px 0;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
}

.button-row button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button-row .pollution-simulation-select {
    min-height: 38px;
    box-sizing: border-box;
    padding: 10px 30px 10px 15px; /* Zwiększony prawy padding tylko dla select */
    margin: 5px 5px 5px 0;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L2 5h8L6 9z" fill="%23ffffff"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
    position: relative;
}

.pollution-simulation-select option {
    padding: 10px;
    color: black;
    background-color: white;
    border-bottom: 1px solid #eee;
}

.pollution-simulation-select option:hover {
    background-color: #f0f0f0;
}
