.mobile-sensors-description-wrapper {
    padding: 2vh 5vw;
    background-color: var(--pale-blue);
}

.sensor-description {
    margin: 3vh 0;
}

.sensor-description-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.sensor-description-title-wrapper h3 {
    margin: 0;
    white-space: pre-wrap;
    font-size: var(--h3-mobile-font-size);
}

.sensor-description-title-wrapper img {
    width: 20px;
}

.sensor-description p {
    margin-top: 1vw;
    text-align: justify;
}
