.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #1F5066;
    cursor: pointer;
    color: var(--navy-blue);
    text-align: center;
    font-family: var(--h3-font-family);
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

sub {
    margin-top: 10px;
    vertical-align: sub;
}

#SO2.off {
    background-color: white;
    color: #F9C86B;
    border-color: #F9C86B;
}

#SO2.on {
    background-color: #F9C86B;
    color: #1F5066;
    border-color: #1F5066;
}

#CO.off {
    background-color: white;
    color: #96DD4E;
    border-color: #96DD4E;
}

#CO.on {
    background-color: #96DD4E;
    color: #1F5066;
    border-color: #1F5066;
}

#NO2.off {
    background-color: white;
    color: #3BEAC0;
    border-color: #3BEAC0;
}

#NO2.on {
    background-color: #3BEAC0;
    color: #1F5066;
    border-color: #1F5066;
}

#O3.off {
    background-color: white;
    color: #B897FF;
    border-color: #B897FF;
}

#O3.on {
    background-color: #B897FF;
    color: #1F5066;
    border-color: #1F5066;
}

#PM10.off {
    background-color: white;
    color: #99BCFF;
    border-color: #99BCFF;
}

#PM10.on {
    background-color: #99BCFF;
    color: #1F5066;
    border-color: #1F5066;
}

#PM25.off {
    background-color: white;
    color: #FD9F9F;
    border-color: #FD9F9F;
}

#PM25.on {
    background-color: #FD9F9F;
    color: #1F5066;
    border-color: #1F5066;
}
