.map-options-wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    padding: 0 0 0 3vw;
    color: var(--navy-blue);
}

.map-options-wrapper h3 {
    margin: 0;
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    letter-spacing: var(--h3-letter-spacing);
}

.map-options-wrapper h4 {
    margin: 1vh 0;
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    letter-spacing: var(--h4-letter-spacing);
}

.map-options-wrapper p {
    margin: 0;
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    color: var(--navy-blue);
}

.map-options-wrapper .pollutions-buttons-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.displayed-pollutions h4,
.heatmap-colors-legend h4 {
    margin: 3vh 0 1vh;
}
