.charts-per-sensor-wrapper {
    position: relative;
    padding: 8vh 0 0;
    background-color: var(--pale-blue);
}

.charts-per-sensor-wrapper h2 {
    color: var(--light-blue);
    text-align: center;
}

.chart-panel {
    position: relative;
    z-index: 2;
    margin: 5vh 5vw;
    padding: 5vh 8vw;
    border-radius: 94px;
    background-color: white;
}

.chart-panel span {
    display: block;
    text-align: right;
}

.chart-panel h3 {
    font-weight: 500;
    white-space: pre-wrap;
}

.sensor-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sensor-select Select {
    width: 40vw;
}

.plot-legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plot-legend h4 {
    white-space: pre-wrap;
}

.plot-legend .button-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plot-legend .button-row Button {
    margin: 0 0.5vw;
}

.gauges-panel {
    position: relative;
    z-index: 1;
    margin-top: -15vh;
    background-color: var(--navy-blue);
}
