.pill-wrapper {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
}

.pill {
    height: 22px;
    width: 100px;
    border-radius: 30px;
}

.pill-wrapper p {
    margin: 0 0 0 16px;
    font-weight: 500;
}

@media (orientation: portrait), (max-width: 855px) {
    .pill-wrapper {
        padding: 0 1vw;
    }

    .pill-wrapper p {
        margin: 0 0 0 1vh;
    }
}
