.legend-list-element {
    display: flex;
    align-items: center;
}

.legend-list-element p {
    margin-left: 2vw;
}

.per-pollution-legend-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#per-pollution-legend p {
    margin-right: 1vw;
}

.per-pollution-legend-title img {
    height: 18px;
    margin-left: 10px;
}

.legend-list-element > Button {
    width: 35px;
    height: 35px;
}

@media (orientation: portrait), (max-width: 855px) {
    .mobile-per-pollution-legend-title {
        display: flex;
        padding: 1vh 6vw;
        background-color: var(--pale-blue);
    }

    .mobile-per-pollution-legend-title h3 {
        font-size: 15px;
        text-transform: uppercase;
    }

    .mobile-per-pollution-legend-title img {
        width: 28px;
        padding: 0 20px;
    }

    .per-pollution-legend-buttons-wrapper {
        width: 100%;
        padding: 1vh 5vw;
    }

    .legend-list-element {
        width: 100%;
    }

    .legend-list-element p {
        width: 80%;
        overflow-wrap: break-word;
    }

    #expand-per-pollution-plot-help {
        margin: 0;
        background-color: var(--pale-blue);
    }

    .per-pollution-help-wrapper {
        padding: 1vh 5vw;
        background-color: var(--pale-blue);
    }

    .per-pollution-plot-help-content {
        padding: 2vh 0;
    }

    .per-pollution-plot-help-content p {
        margin: 0;
        font-size: 13px;
    }
}
