.desktop-gauges-wrapper {
    background-color: var(--navy-blue);
    padding: 0 5vw 19vh;
}

.selected-sensor-title {
    display: flex;
    justify-content: space-between;
}

.selected-sensor-title h3 {
    font-weight: 700;
    color: white;
}

.selected-sensor-title .sensor-name {
    font-weight: 500;
}

.gauges-grid {
    display: grid;
    padding: 4vh 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;

    column-gap: 4vw;
    row-gap: 7vh;
    margin: 0 auto;
}
